
.likes {
  margin-top: 14px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.like-button {
  background-color: inherit;
  cursor: pointer;
}

.likes img {
  height: 25px;
  width: auto;
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 50px;
  border-top: solid 1px var(--border);
}

.comment input {
  border: none;
  padding-left: 20px;
  height: 80%;
  width: 80%;
  font-weight: normal;
}

.comment input:focus {
  outline: none !important;
}

.comment button {
  margin: 3px 10px 0 0;
  align-self: center;
  height: 80%;
  background-color: inherit;
  color: var(--orange);
  cursor: pointer;
}

.edit-content {
  display: flex;
}
